 <article role="article" id="post" class="post-content" itemprop="articleBody">
    <span class="post-info float-right time">
        {% if page.date %}
            <svg id="date" class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
            <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">
                {% include date.html date=page.date %}
            </time>
        {% endif %}
        {% if page.hidetime!=true %}
        <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
        {{ minutesText }}</span>
        {% endif %}
    <h1 class="post-title" itemprop="name">{{ page.title }}

  </h1>
  <p itemprop="description" class="subtitle">{{ page.description }}
    {% include image.html image=page.image imagemap=page.imagemap %}
  </p> 

   {{ include.content | default: page.content }}
</article>