<article id="{{ include.id | default: page.title  }}" role="article" class="post-content {{ include.class }}" itemprop="articleBody">
    {% if page.hidetime!=true %}
    <span class="post-info float-right time">
        <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
        {{ minutesText }}
    </span>
  {% endif %}
  <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
  <p itemprop="description" class="subtitle">{{ page.description }}
  {% if page.image %}
    <img src="{{ page.image }}" class="post-cover" 
    {% if page.imagemap %}
            usemap="#main-image" />
            <map name="main-image">
            {% for s in page.imagemap %}
                <area shape="{{ s.shape | default: 'rect' }}" coords="{{ s.coord }}" 
                      href="{{ s.href }}" 
                      alt="{{ s.name }}" title="{{ s.name }}"
                      {{ s.option }}
                />
            {% endfor %}
            </map>
          <span class="post-info float-right">*Clickable</span>
     {% else %}
      />
     {% endif %}
  {% endif %}
  </p>   

  {{ page.content }}
</article>