
<header class="bar-header">
   {% if include.backmenu!=true %}
    <a id="backmenu" href="#" onclick="window.history.go(-1); return false;">
      <i class="fa fa-chevron-left icon-back"></i>
    </a>
   {% endif %}
   {% if include.sidemenu!=true %}
    <a id="menu">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
   {% endif %}
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {{ site.username }}
        </a>
    </h1>
</header>

<div id="mask" class="overlay"></div>
<a href="#0" class="cd-top"></a>
{% if include.sidemenu!=true %}
{% include menu.html %}
{% else %}
{% include sidemenu.html %}
{% endif %}
{% include search.html %}