{% assign image=include.image | default: page.image %}
{% assign imagemap=include.imagemap | default: page.imagemap %}
{% assign imagemapname=include.imagemapname | default: page.imagemapname | default: 'image-map' %}

<div>
{% if image %}
 <img src="{{ image }}" class="post-cover {{include.class}}" 
  {% if imagemap %}
          usemap="#{{ imagemapname }}" >
          <map name="{{ imagemapname }}">
          {% for s in imagemap %}
              <area shape="{{ s.shape | default: 'rect' }}" coords="{{ s.coord }}" 
                    href="{{ s.href }}" 
                    alt="{{ s.name }}" title="{{ s.name }}"
                    {{ s.option }}
              />
          {% endfor %}
          </map>
        <span class="post-info float-right">*Clickable</span>
   {% else %}
    >
  {% endif %}
{% endif %}  
</div>