{% assign pg=include.page | default: page %}
{% for ref in pg.references %}
  {% if include.output==false %}
    {% assign refs = refs | push: ref %}
  {% else %}
  <a class="feed" href="{{ ref.url }}" title="Reference">
    <svg class="love"><use xlink:href="#icon-heart"></use></svg>
    {{ ref.title }}
  </a>
  {%if include.break==true %}<br/>{% endif %}
  {% endif %}
{% endfor %}
  
{% if pg.datareferences %}
     {% for post in site.data[pg.datareferences] %}
      {% for ref in post.references %}
       {% if include.output==false %}
        {% assign refs = refs | push: ref %}
      {% else %}
        <a class="feed" href="{{ ref.url }}" title="Reference">
          <svg class="love"><use xlink:href="#icon-heart"></use></svg>
          {{ ref.title }}
        </a>{
        {%if include.break==true %}<br/>{% endif %}
      {% endif %}
      {% endfor %}
    {% endfor %}
{% endif %}