.contact-form {
  font-family: $fontfamily;
  font-weight: 700;
  font-style: normal;
  padding: .625rem; }

.contact-form fieldset {
  border: none;
  font-weight: normal; }

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  display: block;
  color: #333;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 1.125rem;
  height: 2.813rem; }

.contact-form input[type="text"].has-error, .contact-form input[type="email"].has-error, .contact-form textarea.has-error {
  border-color: #f04242; }

.contact-form textarea {
  height: 12.5rem; }

.contact-form span {
  display: block;
  font-size: .875rem;
  color: #f04242;
  padding-bottom: .625rem; }

.contact-form button[type="submit"] {
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  background: $themeColor;
  font-size: 1.125rem;
  width: 100%;
  border: 1px solid #ba0009;
  border-width: 1px 1px 3px;
  margin-top: 3.125rem;
  margin-bottom: .625rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none; }

.contact-form button[type="submit"]:hover {
  background: #d4000a; }

.contact-form [v-cloak] {
  display: none; }
