.navigation-main {
	padding: 0 20px;

a, a:hover, a:focus { text-decoration: none; }
a:hover {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.margin-b-30 { margin-bottom: 30px; }


.gallery-page ,
.contact-page {
	position: static;
	float: left;
	width: 160px;
	padding-right: 30px;
}

.main-menu {
	float: left;
	width: 100%;
}
.main-menu-link {
	color: #fff;
	display: block;
	font-weight: 300;
	font-size: 15px;	
}

.main-menu-link:hover {	color: $themeColor; }
.main-menu-link:focus {	color: #fff; }	

.main-menu-link-text {
	margin-bottom: 0;
	position: absolute;
	left: 20px;
	bottom: 15px;
}

.menu-container {	
	padding-left: 0;
	overflow: auto;
	margin-bottom: 10px;
}
.menu-container:last-child { margin-bottom: 0; }

.block-keep-ratio {	position: relative; }
	
	.block-keep-ratio__content {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
	}

.block-keep-ratio:after {
	display: block;
	content: '';
}

.block-width-full {	width: 100%; }
.block-width-half { width: 80px; }

.block-keep-ratio-1-1:after {	padding-top: 100%; }
.block-keep-ratio-2-1:after {	padding-top: 50%; }

.flexbox-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

// The buttons
.home {
	background-color: rgba(16, 165, 205, 0.8);
	background-image: url(/img/navigation/menu-bg-home.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.about { background-color: rgba(193,61,18,0.8);	}
.contact { background-color: rgba(107,181,34,0.8);	}
.about i, .contact i {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.gallery {
	background-image: url(/img/navigation/menu-bg-gallery.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

 //Hide menu
	@media (max-width: 500px) {
		display: none;
    float: none;
  }
		 
}


.section-nav {
  text-align: center;
  position: relative;

  > div { width: 49.5%; }

  a,
  span {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 12px 10px;
    @include border-radius(5px);
    /*border: 1px solid #333;*/
    @include box-shadow(0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5));
    background-color: #767676;
  }

  a:hover {
    color: #fff;
    background-color: $themeColor;
  }

  .next,
  .prev { position: relative; }

  .next:after,
  .prev:before {
    font-size: 36px;
    color: #222;
    font-weight: 900;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    position: absolute;
    top: -7px;
  }

  .next:after {
    content: '\203A';
    right: 10px;
  }

  .prev:before {
    content: '\2039';
    left: 10px;
  }

  .prev,
  .prev:hover { padding-left: 30px; }

  .next,
  .next:hover { padding-right: 30px; }

  .disabled {
    opacity: .5;
    cursor: default;
  }
}

@media only print {
  .section-nav {
    display: none;
  }
}

