#principle {
  
  p.subtitle {
    color: #85144B;
  }
  
  h3 {
    padding: 0;
  }
  
  li {
    padding-left: 1em;
    text-indent: -1em;
    padding: .825rem 0 0 1.25rem;
  }

  
  #implications {
    border-left: 5px solid  crimson;
    background-color: #f1f1f1;
    padding: 1em;
    z-index: 0;
  }
  
  
  #rationale {
    border-left: 5px solid  darkseagreen;
    background-color: #f1f1f1;
    padding: 1em;
    z-index: 0;
  }
}