.share {
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-top: 1px solid $lightGray;
  padding-top: 1.25rem; }

.share::after {
  content: '';
  display: table;
  clear: both; }

article .share {
  border-top: none; }

.share svg {
  margin: .938rem;
  width: 35px;
  height: 35px; }

.share a {
  text-decoration: none;
  border: none; }

.share .icon {
  -webkit-transition: all .3s;
  transition: all .3s; }

.share .icon-twitter:hover {
  fill: #1da1f3; }

.share .icon-facebook:hover {
  fill: #3b5998; }

.share .icon-google-plus:hover {
  fill: #d34836; }
