---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">
    {% include head.html %}
    <body class="has-push-menu">

        {% include header.html sidemenu=site.usesidemenu %}
        {% include svg-icons.html %}
        <section class="post">

           {% include minutes-to-read.html content=page.content %}
          
           {% case page.article %}
             {% when principle %}
                {% include article-principle.html %}
             {% else %}
               {% include article-framework.html %}
           {% endcase %}
          
           {% include paging.html %}

           
           {% if site.showProgressBar and totalMinutes >= site.showProgressBar %}
            <div class="progress-bar" data-minutes="{{ totalMinutes }}">
                <span class="time-completed"></span>
                <span class="time-remaining"></span>
                <div class="bar">
                    <span class="completed" style="width:0%;"></span>
                    <span class="remaining" style="width:100%;"></span>
                </div>
            </div>
            {% endif %}
            {% include footer.html %}
        </section>
    </body>
</html>
