---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">
    {% include head.html %}
    <body class="has-push-menu">
        {% include minutes-to-read.html %}
        {% include svg-icons.html %}
        {% include header.html sidemenu=site.usesidemenu %}
      
        <section class="post">

           {% include minutes-to-read.html content=page.content %}
          
           {% include article-principle.html %}

           {% include paging.html %}
          
           {% include footer.html %}
        </section>
    </body>
</html>